@model PoleChudes.Models.Models.MatchGetModel

@{
    ViewData["Title"] = "Game";
}

<div id="block">
    <div id="matchDisplay">
    </div>

    <h4 id="wrongInput" style="color: red; display: none;">Неверный формат ввода данных!</h4>

    <input type="text" name="input" value="" id="input" />
    <button onclick="getGame()" type="submit" class="btn btn-info"></button>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        const getGame = () => {
            $('#wrongInput').hide();

            const input = $('#input').val();

            if(input.length == @Model.HiddenWord.Length)
            {
                $.ajax({
                url: '@Url.Action("CheckWholeWord", "Match")',
                type: "GET",
                data: {
                    input
                },
                success: function (data)
                {
                    $('#block').html(data);
                },
                error: function (error) {
                    console.log(error);
                }
                });
            }
            else if(input.length == 1)
            {
                $.ajax({
                url: '@Url.Action("CheckOneSymbol", "Match")',
                type: "GET",
                data: {
                    input
                },
                success: function (data)
                {
                    $('#input').val('');
                    $('#matchDisplay').html(data);
                },
                error: function (error) {
                    console.log(error);
                }
                });
            }
            else
            {
                $.ajax({
                url: '@Url.Action("DecrementPoints", "Match")',
                type: "GET",
                data: {
                    input
                },
                success: function (data)
                {
                    $('#input').val('');
                    $('#matchDisplay').html(data);
                    $('#wrongInput').show();
                },
                error: function (error) {
                    console.log(error);
                }
                });
            }
    };

    const getNewGame = () => {
        $('#matchDisplay').load('@Url.Action("GetMatchGetModel", "Match")');
    };

    $(function () {
        getNewGame();
    });

</script>
}


